*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // background: rgb(255,235,0);
    // background: linear-gradient(21deg, rgba(255,235,0,1) 0%, rgba(255,124,0,1) 100%);
    background-color: #ffffff;
}

h1, h2, h4, p {
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-left: 27%;
}

.comida {
    margin-left: 7px;
    margin-bottom: 20px;

    .title {
        background-color: red;
        color: #ffffff;
        width: 208px;
        margin-left: 20%;
        margin-bottom: 10px;

        h2 {
            padding: 2%;
            text-align: center;
        }
    }

    .item {
        margin-bottom: 5px;
    }
}

.contacto {
    text-align: center;

    p {
        a {
            font-size: x-large;
            font-weight: 700;
        }
    }
}